<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="sidebar">
        <div class="nav-item" title="Home">
            <a href="{{ url_for('home') }}">
                <span class="icon" id="ho">🏠</span>
                <span class="label">Home</span>
            </a>
        </div>
        <div class="nav-item" title="Calendar">
            <a href="{{ url_for('calendar') }}">
                <span class="icon" id="cal">📅</span>
                <span class="label">Calendar</span>
            </a>
        </div>
    </div>

    <main>
        <h1>Checkout</h1>
        <p>You have selected the following dates:</p>
        <ul>
            {% for date in selected_dates %}
            <li>Date: {{ date }} (${{ date.split('-')[2] }})</li>
            {% endfor %}
        </ul>
        <p>Total Cost: ${{ total_cost }}</p>

                <script async
          src="https://js.stripe.com/v3/buy-button.js">
        </script>

        <stripe-buy-button
          buy-button-id="buy_btn_1QYwPKCpRmcr6sEEGOUeMZ0g"
          publishable-key="pk_test_51QJ3wRCpRmcr6sEE7Y6BtDOtKhHL8z9Cycx0RneVX5F4vB4ohLRf6wl778pO6KY1myaz8rNI2vua6oV09ZAxeacc00QEc5BKZP"
        >
        </stripe-buy-button>
              
        </form>
    </main>
</body>
</html>
