<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <form method="POST">
        <input type="email" id="email" name="email" value="{{ 'hypertrent7@gmail.com' if sillyFellaAutoLogin else '' }}" required>
        <input type="password" id="password" name="password" value="{{ 'Azeral123!' if sillyFellaAutoLogin else '' }}" required>
        <button type="submit">Log In</button>
    </form>
</body>
</html>